<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="book-wrapper">
      <book style="--total-pages: 30; --book-offset: 30deg">
        <section class="page cover" style="--page-number: 0">
          <h1>
            <big style="font-size: 365%; display: block">Kiber</big>maliyyə
            cinayətlərinin biznes mühitinə təsiri MBA MI22
          </h1>
        </section>

        <section class="page" style="--page-number: 1">
          <p style="font-weight: bold">Giriş:</p>
          <p>
            Rəqəmsal olaraq əlaqəli bugünkü dünyada maliyyə əməliyyatlarının və
            <a href="https://www.cisco.com/c/en/us/products/security/what-is-cybersecurity.html"></a>kibertəhlükəsizliyin</a> yaxınlaşması biznes üçün kritik problemə
            çevrilib. Rəqəmsal sistemlərə və onlayn maliyyə əməliyyatlarına
            artan etibar şirkətləri artan kibermaliyyə təhdidlərinə məruz qoyub.
          </p>
          <p>
            Bu məqalə kibermaliyyə cinayətləri sahəsinə və onların biznesə dərin
            təsirinə nəzər salır.
          </p>
          <p><a href="https://www.trendmicro.com/vinfo/us/security/definition/cybercriminals">Kibercinayətkarlar</a> davamlı olaraq öz</p>
        </section>

        <section class="page" style="--page-number: 2">
          <p>
            taktikalarını təkmilləşdirdikcə şirkətlər üçün bu təhlükələri,
            zəiflikləri və üzləşə biləcəkləri nəticələri anlamaq vacibdir.
          </p>
          <p style="font-weight: bold">
            Kibertəhlükəsizlik və maliyyə cinayətləri nədir?
          </p>
          <p>
            Kibertəhlükəsizlik kompüter sistemlərini, şəbəkələri və məlumatları
            icazəsiz girişdən, oğurluqdan və ya zədələnmədən qorumaq üçün
            istifadə olunan strategiyaları və təcrübələri əhatə edir.
          </p>
        </section>

        <section class="page" style="--page-number: 3">
          <p>
            Maliyyə cinayətləri isə aldadıcı və ya qeyri-qanuni yollarla maliyyə
            üstünlükləri əldə etməyə yönəlmiş geniş spektrli qeyri-qanuni
            fəaliyyətləri əhatə edir. Bu sahələrin kəsişməsi onların maliyyə
            aktivlərini və həssas məlumatlarını təhlükə altına almaq məqsədi ilə
            maliyyə institutlarını və biznesləri hədəfləyən fəaliyyətlərə
            aiddir.
          </p>
          <p style="font-weight: bold">
            Kiber-maliyyə hücumları necə baş verə bilər?
          </p>
          <p>
            Kiber maliyyə hücumları müxtəlif vasitələrlə, o cümlədən zərərli
          </p>
        </section>

        <section class="page" style="--page-number: 4">
          <p>
            proqramlar, fişinq, sosial mühəndislik və proqram təminatının
            zəifliklərindən istifadə etməklə baş verə bilər. Viruslar və
            <a href="https://en.wikipedia.org/wiki/Trojan_horse_(computing)">troyanlar</a> kimi zərərli proqramlar zərərli e-poçt əlavələri və ya
            yükləmələr vasitəsilə sistemlərə sızaraq kibercinayətkarlara
            icazəsiz giriş təmin edə bilər. Fişinq hücumları tez-tez qanuni
            olanlara yaxından bənzəyən saxta veb-saytlardan istifadə edir və
            qurbanları bilmədən öz maliyyə məlumatlarını daxil etməyə sövq edir.
          </p>
        </section>

        <section class="page" style="--page-number: 5">
          <p>
            Kibercinayətkarlar həmçinin proqram və sistemlərdə, xüsusən də
            köhnəlmiş tətbiqlərdə və ya zəif təhlükəsizlik konfiqurasiyalarında
            olan zəifliklərdən istifadə edə bilərlər.
          </p>
          <p style="font-weight: bold">
            Kiber-maliyyə hücumlarının hansı növləri var?
          </p>
          <p>
            Kiber-maliyyə hücumları geniş spektrli texniki metodologiyaları və
            zərərvericilərin maliyyə institutlarını və biznesləri güzəştə getmək
            üçün istifadə etdikləri hücum vektorlarını əhatə edir. Bu
          </p>
        </section>

        <section class="page" style="--page-number: 6">
          <p>hücumları geniş şəkildə bir neçə əhəmiyyətli növə bölmək olar:</p>
          <p style="font-weight: bold">1. Fişinq Hücumları:</p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Phishing">Fişinq</a>, bank və ya etibarlı xidmət təminatçısı kimi qanuni mənbədən
            gələn aldadıcı e-poçt və ya mesajların göndərilməsini əhatə edən
            sosial mühəndislik hücumudur. Məqsəd, giriş etimadnamələri, kredit
            kartı nömrələri və ya şəxsi identifikasiya kimi həssas maliyyə
            məlumatlarını aşkar etmək üçün alıcıları aldatmaqdır.
          </p>
        </section>
        <section class="page" style="--page-number: 7">
          <p>
            Fişinq hücumları tez-tez qanuni olanlara yaxından bənzəyən saxta
            veb-saytlardan istifadə edir və qurbanları bilmədən öz maliyyə
            məlumatlarını daxil etməyə sövq edir.
          </p>
          <p style="font-weight: bold">2. Ransomware:</p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Ransomware">Ransomware</a>, qurbanın məlumatlarını şifrələyən və onu əlçatmaz edən
            zərərli proqram növüdür. Təcavüzkar daha sonra deşifrə açarı üçün
            tez-tez <a href="https://en.wikipedia.org/wiki/Cryptocurrency">kriptovalyutalarda</a> fidyə tələb edir.
          </p>
        </section>
        <section class="page" style="--page-number: 8">
          <p>
            Ransomware biznes üçün dağıdıcı nəticələrə səbəb ola bilər, çünki
            məlumat itkisinə və əməliyyatın pozulmasına səbəb ola bilər.
            Ransomware hücumlarında istifadə edilən şifrələmə üsulları çox vaxt
            qabaqcıl kriptoqrafik alqoritmlərə əsaslanır və şifrə açma açarı
            olmadan məlumatların bərpasını olduqca çətinləşdirir.
          </p>
          <p style="font-weight: bold">3. Daxili təhlükələr:</p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Insider_threat">İnsayder təhdidlər</a> təşkilat daxilində öz giriş imtiyazlarından
            maliyyə mənfəəti üçün sui-istifadə edən
          </p>
        </section>
        <section class="page" style="--page-number: 9">
          <p>
            şəxsləri əhatə edir. Bu, maliyyə sistemlərinə və ya məlumatlara
            səlahiyyətlərindən sui-istifadə edən işçilər və ya podratçılar ola
            bilər. Daxili təhdidləri aşkar etmək çətin ola bilər, çünki
            təcavüzkarlar çox vaxt qanuni girişə malikdirlər. Bu təcavüzkarlar
            təşkilatın sistemləri və təhlükəsizlik təcrübələri haqqında
            biliklərindən istifadə edərək, həyəcan siqnalı vermədən həssas
            maliyyə məlumatlarını ələ keçirə bilərlər.
          </p>
        </section>
        <section class="page" style="--page-number: 10">
          <p style="font-weight: bold">
            4. Paylanmış Xidmətdən imtina (DDoS) hücumları:
          </p>
          <p>
            <a href="https://tr.wikipedia.org/wiki/Servis_d%C4%B1%C5%9F%C4%B1_b%C4%B1rakma_sald%C4%B1r%C4%B1s%C4%B1">DDoS</a> hücumları bir maliyyə qurumunun serverlərini böyük həcmdə
            trafiklə sıxışdırmaqla onun onlayn xidmətlərini hədəf alır. Bu,
            effektiv şəkildə xidmətləri qanuni istifadəçilər üçün əlçatmaz edir.
            DDoS hücumları maliyyə məlumatlarını birbaşa oğurlaya bilməz, lakin
            əməliyyatları pozaraq maliyyə itkilərinə səbəb ola bilər.
            Təcavüzkarlar tez-tez hədəflənmiş sistemləri alt-üst etmək üçün
            tələb olunan əhəmiyyətli trafik yaratmaq
          </p>
        </section>
        <section class="page" style="--page-number: 11">
          <p>
            üçün təhlükəsi olan cihazlardan ibarət botnetlərdən istifadə
            edirlər.
          </p>
          <p style="font-weight: bold">
            5. Man-in-the-Middle (MitM) hücumları:
          </p>
          <p>
            <a href="https://tr.wikipedia.org/wiki/Man-in-the-middle_sald%C4%B1r%C4%B1s%C4%B1">MitM</a> hücumları təcavüzkarın müştəri və onların bankı kimi iki tərəf
            arasındakı əlaqəni ələ keçirməsini və potensial olaraq
            dəyişdirməsini əhatə edir. Təcavüzkar həssas maliyyə əməliyyatlarını
            dinləyə, etimadnamələri oğurlaya və ya tərəflər arasında mübadilə
            edilən məlumatları manipulyasiya edə bilər.
          </p>
        </section>
        <section class="page" style="--page-number: 12">
          <p>
            Bu hücumlar tez-tez tranzit məlumatları hədəf alır, maliyyə
            məlumatlarını ələ keçirmək üçün şəbəkə protokollarındakı
            zəifliklərdən və ya təhlükəsiz Wi-Fi bağlantılarından istifadə edir.
          </p>
          <p style="font-weight: bold">6. Qabaqcıl Davamlı Təhdidlər (APTs):</p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Advanced_persistent_threat">APT</a>-lər, təcavüzkarların şəbəkəyə və ya sistemə icazəsiz giriş əldə
            etdiyi və uzun müddət aşkar edilmədiyi uzunmüddətli və məqsədyönlü
            hücumlardır. APT-lər tez-tez dövlət tərəfindən
          </p>
        </section>
        <section class="page" style="--page-number: 13">
          <p>
            maliyyələşdirilir və ya çox mürəkkəbdir, casusluq və ya maliyyə
            qazancı üçün maliyyə institutlarına sızmaq məqsədi daşıyır. Bu
            hücumlar şəbəkələri pozmaq və həssas maliyyə məlumatlarını çıxarmaq
            üçün sıfır gün istismarları və xüsusi zərərli proqramlar kimi
            davamlı, gizli taktikaları əhatə edir.
          </p>
          <p style="font-weight: bold">7. ATM Jackpotting</p>
          <p>
            ATM cekpotinqi təcavüzkarların bankomatlara giriş əldə etdiyi və
            maşınlara icazəsiz nağd pul verməyi əmr etdiyi bir texnikadır.
          </p>
        </section>
        <section class="page" style="--page-number: 14">
          <p>
            Bu cür hücum bankomatın sahibi olan qurumun birbaşa maliyyə
            itkilərinə səbəb ola bilər. Təcavüzkarlar tez-tez maşının
            bütövlüyünü pozmaq üçün bankomatın proqram təminatı və ya aparatında
            olan zəifliklərdən istifadə edirlər.
          </p>
          <p style="font-weight: bold">8. Pul köçürmə fırıldaqçılığı:</p>
          <p>
            Pul köçürmələri dələduzluğu pul vəsaitlərini saxta hesablara
            yönləndirmək üçün qanuni ödəniş təlimatlarını manipulyasiya etmək və
            ya təqlid etməkdən ibarətdir.
          </p>
        </section>
        <section class="page" style="--page-number: 15">
          <p>
            Təcavüzkarlar işçilərin e-poçt hesablarını ələ keçirə və ya icazəsiz
            köçürmələr etmək üçün işçiləri aldatmaq üçün sosial mühəndislikdən
            istifadə edə bilərlər. Bu hücumlar tez-tez e-poçt saxtakarlığı,
            saxta ödəniş təlimatları və maliyyə işçilərini aldatmaq üçün saxta
            hesab-fakturalar vasitəsilə təcavüzkarın idarə etdiyi hesablara pul
            köçürmələrini əhatə edir.
          </p>
        </section>
        <section class="page" style="--page-number: 16">
          <p style="font-weight: bold">9. Təchizat Zənciri Hücumları:</p>
          <p>
            <a href="https://kron.com.tr/tedarik-zinciri-saldirisi-nedir">Təchizat zənciri</a> hücumları maliyyə institutlarına xidmət göstərən
            üçüncü tərəf satıcıları və ya təchizatçıları hədəf alır. Hücumçular
            satıcının sistemlərini pozur, onlara etibarlı kanallar vasitəsilə
            hədəf təşkilata sızmağa imkan verir. Bu hücumlar proqram təminatı
            zəncirlərində, aparat komponentlərində və ya bulud xidmətlərində
            zəifliklərdən istifadəni əhatə edə bilər.
          </p>
        </section>
        <section class="page" style="--page-number: 17">
          <p>
            Bu kibermaliyyə hücumlarının texniki incəliklərini başa düşmək
            bizneslər və maliyyə institutları üçün effektiv əks tədbirlər həyata
            keçirmək və möhkəm təhlükəsizlik strategiyaları hazırlamaq üçün
            vacibdir. Bu hücum növlərinin hər biri fərqli problemlər yaradır və
            əlaqəli riskləri azaltmaq üçün xüsusi müdafiə vasitələri tələb edir.
          </p>
        </section>
        <section class="page" style="--page-number: 18">
          <p style="font-weight: bold">
            Bu Hücumların Nəticələri Nə Ola bilər?
          </p>
          <p>
            Kiber maliyyə hücumlarının nəticələri dərindir, maliyyə itkiləri,
            nüfuza zərər, hüquqi təsirlər və tənzimləyici cəzaları əhatə edir.
            2017-ci ildə <a href="https://www.kaspersky.com.tr/blog/data-leaks-2017/4261/#:~:text=Equifax'%C4%B1n%20ilk%20de%C4%9Ferlendirmelerine%20g%C3%B6re,ki%C5%9Fisel%20verilerini%20i%C3%A7eren%20belgeler%20%C3%A7al%C4%B1nd%C4%B1.">Equifax</a> pozuntusu əhəmiyyətli maliyyə xərcləri və ciddi
            etibar itkisi ilə nəticələndi. 2017-ci ildə <a href="https://en.wikipedia.org/wiki/Petya_(malware_family)">NotPetya</a> ransomware
            hücumu müxtəlif şirkətlər üçün böyük maliyyə itkilərinə səbəb oldu
            və bir çoxları bərpa etmək üçün mübarizə apardı.
          </p>
        </section>
        <section class="page" style="--page-number: 19">
          <p style="font-weight: bold">
            Maliyyə Şirkətlərinin Proqram Tətbiqləri:
          </p>
          <p>
            Proqram təminatı proqramları maliyyə məlumatlarının, əməliyyatların
            və müştərilərlə qarşılıqlı əlaqələrin idarə edilməsini asanlaşdıran
            maliyyə şirkətlərinin əsasını təşkil edir. Bu proqramlar maliyyə
            məlumatlarının bütövlüyünü və təhlükəsizliyini qorumaqda mühüm rol
            oynayır və onları kibercinayətkarlar üçün cəlbedici hədəflərə
            çevirir.
          </p>
        </section>
        <section class="page" style="--page-number: 20">
          <p style="font-weight: bold">
            Maliyyə Şirkətlərinin Tətbiqlərinin Proqramlaşdırma Hissəsində
            Səhvlər Nə Ola bilər?
          </p>
          <p>
            Maliyyə proqramlarının proqramlaşdırılmasında ümumi səhvlərə
            qeyri-kafi giriş yoxlaması, zəif autentifikasiya mexanizmləri və
            gecikmiş təhlükəsizlik yamaq tətbiqi daxildir. Bu səhvlər
            kibercinayətkarların istifadə edə biləcəyi zəifliklər yaradır və
            potensial olaraq məlumatların pozulmasına və maliyyə itkilərinə
            səbəb olur.
          </p>
        </section>

        <section class="page" style="--page-number: 21">
          <p style="font-weight: bold">
            Maliyyə Şirkəti Tətbiqlərinin Proqramlaşdırma hissəsində nələrə
            diqqət yetirilməlidir?
          </p>
          <p>
            Maliyyə şirkətlərində təhlükəsiz proqram təminatının inkişafı güclü
            giriş nəzarətlərinə, müntəzəm təhlükəsizlik qiymətləndirmələrinə və
            təcili təhlükəsizlik yamaqlarının tətbiqinə üstünlük verməlidir.
            Zəiflikləri azaltmaq və həssas maliyyə məlumatlarını qorumaq üçün
            təhlükəsizliyə proaktiv yanaşma çox vacibdir.
          </p>
        </section>
        <section class="page" style="--page-number: 22">
          <p style="font-weight: bold">
            Dünyada ən çox tanınan kibermaliyyə cinayəti hansıdır?
          </p>
          <p>
            Ən məşhur qlobal kibermaliyyə cinayətlərindən biri 2017-ci ildə
            <a href="https://en.wikipedia.org/wiki/WannaCry_ransomware_attack#:~:text=WannaCry%20is%20a%20ransomware%20cryptoworm,payments%20in%20the%20Bitcoin%20cryptocurrency.">WannaCry</a> ransomware hücumudur. Bu genişmiqyaslı hücum çoxsaylı
            təşkilatlara, o cümlədən Böyük Britaniyanın Milli Səhiyyə Xidmətinə
            təsir göstərərək, geniş pozuntulara və maliyyə zərərinə səbəb olub.
          </p>
        </section>
        <section class="page" style="--page-number: 23">
          <p style="font-weight: bold">
            Kibertəhlükəsizlik üzrə ekspertlər şirkətləri kibermaliyyə
            hücumlarından qorumaq üçün nə etməlidirlər?
          </p>
          <p>
            Kibertəhlükəsizlik üzrə ekspertlər şəbəkələri aktiv şəkildə
            izləməli, möhkəm təhlükəsizlik tədbirləri həyata keçirməli və
            müntəzəm risk qiymətləndirmələri aparmalıdırlar. Yeni yaranan
            təhlükələr haqqında məlumatlı olmaq və qabaqcıl təhlükəsizlik
            texnologiyalarından istifadə biznesləri qorumaq üçün vacibdir
          </p>
        </section>
        <section class="page" style="--page-number: 24">
          <p style="font-weight: bold">
            Normal Vətəndaşlar Bu Hücumlardan Necə Qorunmaq olar?
          </p>
          <p>
            Normal vətəndaşlar yaxşı kibertəhlükəsizlik gigiyenasına riayət
            etməklə özlərini qoruya bilərlər. Bura güclü, unikal parollardan
            istifadə etmək, çoxfaktorlu autentifikasiyaya imkan vermək, fişinq
            e-poçtları və şübhəli vebsaytlara qarşı ehtiyatlı olmaq, proqram
            təminatı və antivirus proqramlarını mütəmadi olaraq yeniləmək
            daxildir.
          </p>
        </section>
        <section class="page" style="--page-number: 25">
          <p style="font-weight: bold">Ədəbiyyat siyahısı:</p>
          <ul>
            <li>
              Brown, M. S. (2022). Mitigating financial losses in the wake of
              cyber attacks. International Journal of Financial Security
            </li>
            <li>
              Cybersecurity Intelligence Institute. (2023). Strengthening the
              financial sector's resilience against cyber threats. Business
              Environment Security Report
            </li>
          </ul>
        </section>
        <section class="page" style="--page-number: 26">
          <ul>
            <li>
              Garcia, P. R., & White, E. L. (2020). Ransomware threats and their
              impact on business operations. Journal of Financial Risk
              Management
            </li>
            <li>
              Johnson, L. H., & Martinez, D. P. (2021). The role of insider
              threats in cyber financial crimes. Journal of Business Security
            </li>
            <li>
              National Institute of Cybersecurity. (2022). Emerging cyber
              threats in the financial sector. Cybersecurity Impact Report
            </li>
          </ul>
        </section>
        <section class="page" style="--page-number: 27">
          <ul>
            <li>
              Robinson, K. M., & Garcia, A. S. (2020). Phishing attacks and
              their economic consequences for businesses. Journal of Financial
              Cyber Risk
            </li>
            <li>
              Smith, J. D., & Johnson, A. R. (2021). The evolving landscape of
              cyber financial crimes. Journal of Cybersecurity and Business
            </li>
            <li>
              World Economic Forum. (2021). The economic impact of cybersecurity
              breaches in the business environment. Global Cybersecurity Report
            </li>
          </ul>
        </section>
        <section class="page" style="--page-number: 28">
          <p style="font-weight: bold">Təşəkkürlər</p>
          <p>Komanda üzvləri:</p>
          <ul>
            <li>Raziyə Yusibova</li>
            <li>Nigar Həsənova</li>
            <li>İsmət Müzəffərov</li>
            <li>Anar Məmmədov</li>
            <li>Elvin Hüseynov</li>
            <li>Nicat Mənsimov</li>
          </ul>
        </section>
        <div class="book-spine">3D Book Demo</div>
      </book>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/home.js"></script>
  </body>
</html>
